.smaller-image{Width: 50%;}

  #one{
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
    max-height:500px;
    max-width:1000px;
    overflow: scroll;
    
  }
h1{text-align: center;
Color: #00ff00;
 font-family: times;}
